html {
    background-color: #b9808f;
}

body {
    background-color: #b9808f;
    font-family: 'VT323', monospace;
}

p {
    text-align: center;
    font-weight: bold;
}

.gifBtn {
    background-color: #f8f2da;
    border-color: black;
    color: black;
    font-family: 'VT323', monospace;
    margin: .5%;
}

.gifContainer {
    display: inline-block;
    margin: 1%;
    max-width: 50%;
}

.gif-area {
    margin-top: 2%;
}

.jumbotron {
    background-image: url("../images/jumbobg.gif");
    background-position: 5% 85%;
    background-size: 100%;
}