p {
    text-align: center;
    font-weight: bold;
}

.gifContainer {
    display: inline-block;
    margin: 1%;
    max-width: 50%;
}

.gif-area {
    margin-top: 2%;
}

/* .gif {
    margin: 1%;
} */